#node-form-tabs.ui-tabs ul {
	margin-bottom: 10px;
}

#node-form-tabs.ui-tabs a:hover {
	color:#000;
}

#node-form-tabs.ui-tabs .ui-tabs-selected{
	background-color: #ffffff;
}

.content-add-more input {
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	padding:4px 9px;

	font-size:11px;
	font-weight:normal;
	-moz-box-shadow: 0 1px 1px #DDDDDD;
	border-color: #DDDDDD #DDDDDD #CCCCCC;
	border-style: solid;
	border-width: 1px;

	color:#999;
	background:transparent;

	border-width:1px;
	border-style:solid;
	border-color:transparent;
}

#node-form-tabs.ui-tabs li a { font-size: 11px }

#node-form-tabs.ui-tabs legend { display: none; border-width: 0 }
#node-form-tabs.ui-tabs .fieldset-content { padding: 0 !important; border-width: 0 }

/* vim: set filetype=css expandtab tabstop=2 shiftwidth=2 autoindent smartindent: */
